build
!build-logic/**/montiarc/build
target
out
site

.classpath
.gradle
.idea
.project
.settings
.vscode
.kotlin
.intellijPlatform

*.iml
*.hprof
*.lck
.DS_Store

gradle/wrapper
gradlew
gradlew.bat

!docs/Usage/Gradle
