target
.project
.settings
.classpath
/applications/bumperbot/.gitignore

\.idea/

/generators/maa2java/generated-test-sources/

*.iml
.DS_Store
generated-test-sources

*.xtendbin

generators/maa2java-xtend/src/main/xtend-gen/
