html {
  scroll-behavior: smooth;
}

:root {
  --md-primary-fg-color: #0067a7;
  --md-primary-fg-color--light: #0067a7;
  --md-primary-fg-color--dark: #0067a7;
  --md-accent-fg-color: #048bdf;
  --md-accent-fg-color--transparent: #048bdf19;
}

.md-main {
  overflow-x: hidden;
}

.md-typeset .admonition.info,
.md-typeset details.info {
  border-color: var(--md-accent-fg-color);
}

.md-typeset .info>.admonition-title,
.md-typeset .info>summary {
  background-color: #048bdf1a;
}

.md-typeset .info>.admonition-title::before,
.md-typeset .info>summary::before {
  background-color: var(--md-accent-fg-color);
}

.md-header__topic {
  height: inherit;
}

.full-width {
  width: 100vw;
  max-width: 100vw;
  left: 50%;
  position: relative;
  margin-left: -50vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem 0.8rem;
}

.bg-primary {
  background-color: var(--md-primary-fg-color);
  color: #fffffff0;
  --md-default-fg-color--lightest: #ffffff12;
  --md-admonition-bg-color: #ffffff08;
  --md-admonition-fg-color: #fffffff0;
  --md-typeset-a-color: #f8a61c;
}

.section-card {
  margin-left: -5%;
  margin-right: -5%;
  padding: 5px 5% 1em 5%;
  border-radius: 20px;
  background-color: var(--md-primary-fg-color);
  box-shadow: 10px 10px 10px #5a5a5a22, 0px 0px 10px #5a5a5a22;
  color: #fffffff0;
  --md-default-fg-color--lightest: #ffffff12;
  --md-admonition-bg-color: #ffffff08;
  --md-admonition-fg-color: #fffffff0;
  --md-typeset-a-color: #f8a61c;
}

.section-card a:hover, 
.section-card a:focus {
	color: #fff100;
}